<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="FormatSalvare" value="txt"/>
		<add key ="NumeFisierB" value ="Bilete"/>
		<add key ="NumeFisierR" value ="Rute"/>
	</appSettings>
</configuration>


